<h3>Thanks for shopping with us!</h3>
<h4>Your Order:</h4>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |product_id, ordered_quantity| %>
      <tr>
        <td><%= Product.find(product_id).name %></td>
        <td><%= ordered_quantity %></td>
        <td><%= number_to_currency Product.find(product_id).price %></td>
        <td><%= number_to_currency Product.find(product_id).price * ordered_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<p>Let's review your order.</p>

<% @order.order_items.each do |product_id, ordered_quantity| %>
  <ul>
    <li>Product: <%= Product.find(product_id).name %> - Qty: <%= ordered_quantity %></li>
  </ul>
<% end %>

<p>
  <strong>Subtotal: </strong><%= number_to_currency @order.subtotal %><br>
  <strong>Tax Total:</strong><%= number_to_currency @order.sales_tax %><br>
  <strong>Order Total: </strong><%= number_to_currency @order.grand_total %>
</p>

<div style="display:inline-block;">
    <%= form_tag order_complete_path do %>
        <div>
            <%= hidden_field_tag :order_id, @order.id %>
        </div>
        <script src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Order #<%= @order.id %>"
        data-amount="<%= (@order.grand_total.to_f.round(2) * 100) %>"></script>
    <% end %>
</div>
